/* AcitveApps */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
width: 620px;
height: 380px;
left: 257px;
top: 1677px;

background: rgba(20, 20, 20, 0.7);
border: 1px solid rgba(255, 255, 255, 0.07);
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* Subtle Gradient Soul Glow */

position: absolute;
width: 192px;
height: 192px;
left: 1px;
top: 1px;

background: rgba(10, 132, 255, 0.05);
filter: blur(40px);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Header - TopAppBar: Utility Notch */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 429.03px;

width: 618px;
max-width: 620px;
height: 44px;

background: rgba(20, 20, 20, 0.7);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(32px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px 20px 0px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 120.24px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 19.3px;
height: 19.3px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 19.3px;
height: 19.3px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 92.94px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 92.94px;
height: 26px;

font-family: 'Nimbus Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 26px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.425px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;

width: 12px;
height: 24px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 571px;
height: 290px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Main Content Area */

width: 571px;
height: 290px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
height: 366px;
left: 16px;
right: 16px;
top: 16px;



/* App Row: Xcode */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #0A84FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(59, 130, 246, 0.2), 0px 4px 6px -4px rgba(59, 130, 246, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 15px;
height: 12px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Xcode */

width: 367.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Developer Tools */

width: 367.8px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 59.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Row: Figma */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #A259FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(168, 85, 247, 0.2), 0px 4px 6px -4px rgba(168, 85, 247, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 14.25px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 14.25px;
height: 15px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Figma */

width: 367.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Design */

width: 367.8px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 59.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Row: Safari */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #0A84FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(59, 130, 246, 0.2), 0px 4px 6px -4px rgba(59, 130, 246, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 15px;
height: 15px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Safari */

width: 367.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Web Browser */

width: 367.8px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 59.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Row: Simulator */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #FF9F0A;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(249, 115, 22, 0.2), 0px 4px 6px -4px rgba(249, 115, 22, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 11.25px;
height: 16.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 11.25px;
height: 16.5px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Simulator */

width: 367.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 367.8px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Debugging */

width: 367.8px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 59.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Row: Terminal */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #30D158;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(34, 197, 94, 0.2), 0px 4px 6px -4px rgba(34, 197, 94, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 9px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 15px;
height: 9px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Terminal */

width: 374.98px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Shell */

width: 374.98px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 52.02px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App Row: Utility Notch */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

width: 539px;
height: 56px;

background: rgba(255, 255, 255, 0.03);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px 0px 0px;

width: 40px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 28px;
height: 28px;

background: #8E8E93;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: calc(50% - 28px/2);

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16.5px;
height: 16.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 16.5px;
height: 16.5px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Utility Notch */

width: 374.98px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 374.98px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* System Utility */

width: 374.98px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 0px 0px;

width: 52.02px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 12px;

width: 48px;
height: 23px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FF453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - NavigationDrawer: Tools (Right Sidebar) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 16px 0px;
gap: 16px;

position: absolute;
width: 40px;
height: 378px;
right: 9px;
top: 52px;

border-left: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 39px;
height: 167.5px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 39px;
height: 29.5px;

background: rgba(255, 255, 255, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 13.5px;
height: 13.5px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 13.5px;
height: 13.5px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 39px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 15px;
height: 12px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 39px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 9.75px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 9.75px;
height: 15px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 39px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15.07px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 15.07px;
height: 15px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 59.5px 0px 0px;

width: 16.5px;
height: 162.5px;
min-height: 86.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 48px;

width: 16.5px;
height: 86.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle */

width: 16.5px;
height: 38.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer:margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px 0px 10px;

width: 618px;
height: 38px;
min-height: 28px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;


/* Footer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 205.62px;

width: 618px;
height: 28px;

border-top: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 114.11px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background+Shadow */

width: 6px;
height: 6px;

background: #30D158;
box-shadow: 0px 0px 8px rgba(48, 209, 88, 0.5);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 100.11px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 100.11px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16.01px;

width: 266.27px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 164.45px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 164.45px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 85.81px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 85.81px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
