/* Calendar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
width: 815px;
height: 503px;
left: calc(50% - 815px/2 - 1647.5px);
top: calc(50% - 503px/2 - 772.5px);

background: rgba(20, 20, 20, 0.7);
box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.07);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* Header - TopAppBar (Shared Component Logic) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 462.59px;

width: 815px;
height: 44px;

border-bottom: 1px solid rgba(255, 255, 255, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 92.41px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 16.67px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 16.67px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 69.41px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 69.41px;
height: 26px;

font-family: 'Nimbus Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 26px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.425px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px;

width: 11.33px;
height: 21.33px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 3.33px;
height: 13.33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 3.33px;
height: 13.33px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 815px;
height: 431px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* Main Content Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 8px 20px 20px;

width: 775px;
height: 374.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Date Section:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 24px;

width: 747px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Date Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 301.67px;

width: 747px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: baseline;
padding: 0px;
gap: 12px;

width: 178.33px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 55.3px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: -2.4px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 111.03px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
letter-spacing: -0.5px;

color: rgba(255, 255, 255, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 72px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 72px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

background: rgba(255, 255, 255, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 5.55px;
height: 9px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 5.55px;
height: 9px;

background: rgba(255, 255, 255, 0.7);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

background: rgba(255, 255, 255, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 5.55px;
height: 9px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 5.55px;
height: 9px;

background: rgba(255, 255, 255, 0.7);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section - Week Strip:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 32px;

width: 747px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Section - Week Strip */

width: 747px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 0px;
right: 647.14px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.41px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 17.41px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 107.86px;
right: 539.29px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.61px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 17.61px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Active State */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;
isolation: isolate;

position: absolute;
height: 58px;
left: 215.71px;
right: 431.43px;
top: 0px;

background: #0A84FF;
border-radius: 12px;


/* Active State:shadow */

position: absolute;
left: 0px;
right: -0.14px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(10, 132, 255, 0.2), 0px 4px 6px -4px rgba(10, 132, 255, 0.2);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.9);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.53px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Text */

width: 17.53px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 323.57px;
right: 323.57px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.45px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 17.45px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 431.43px;
right: 215.71px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16.63px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 16.63px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 539.29px;
right: 107.86px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.45px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 17.45px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 0px;
gap: 6px;

position: absolute;
height: 58px;
left: 647.14px;
right: 0px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 21px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 21px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 17.45px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 17.45px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section - Upcoming List */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 747px;
height: 192.5px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 747px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Upcoming */

width: 747px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 747px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 16px;

width: 747px;
height: 48px;

background: rgba(255, 255, 255, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 4px;
height: 24px;

background: #42E355;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 48px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96.52px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 96.52px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #E5E2E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 16px;

width: 747px;
height: 48px;

background: rgba(255, 255, 255, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 4px;
height: 24px;

background: #0A84FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 48px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 41.27px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 41.27px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #E5E2E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 16px;

width: 747px;
height: 48px;

background: rgba(255, 255, 255, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 4px;
height: 24px;

background: #FF5447;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 48px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 285.23px;

width: 639px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 140.77px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 140.77px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #E5E2E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 15px;
height: 12px;

background: rgba(255, 255, 255, 0.3);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - NavigationDrawer (Sidebar Shared Component) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 16px 0px;
gap: 16px;

width: 40px;
height: 431px;

border-left: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

background: rgba(255, 255, 255, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 13.5px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 13.5px;
height: 15px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 13.5px;
height: 13.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 13.5px;
height: 13.5px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 16.5px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16.5px;
height: 12px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 100px 0px 0px;

width: 32px;
height: 255px;
min-height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 15.07px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15.07px;
height: 15px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer (Shared Component Logic) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 349px;

width: 815px;
height: 28px;

background: rgba(255, 255, 255, 0.02);
border-top: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 151.5px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background+Shadow */

width: 6px;
height: 6px;

background: #42E355;
box-shadow: 0px 0px 8px rgba(66, 227, 85, 0.5);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 137.5px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 137.5px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.25px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 87.5px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 87.5px;
height: 15px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.25px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Atmosphere Glow (Design System Rule) */

position: absolute;
width: 128px;
height: 128px;
left: 0px;
top: 0px;

background: rgba(10, 132, 255, 0.05);
filter: blur(30px);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;
