/* Downloads */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
width: 620px;
height: 380px;
left: 2132px;
top: 960px;

background: linear-gradient(121.45deg, rgba(20, 20, 20, 0.7) 0%, rgba(20, 20, 20, 0.8) 100%);
border: 1px solid rgba(255, 255, 255, 0.05);
box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.07);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* Header - TopAppBar (Shared Component Mapping) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 447.33px;

width: 618px;
height: 44px;

border-bottom: 1px solid rgba(255, 255, 255, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 106.67px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 12px;
height: 12px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 86.67px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 86.67px;
height: 26px;

font-family: 'Nimbus Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 26px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.425px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Trailing Icon from JSON */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;

width: 11px;
height: 20px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 3px;
height: 12px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Main Body Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 618px;
height: 306px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* Main - Content Area */

width: 578px;
height: 306px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Row 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

position: absolute;
height: 62px;
left: 16px;
right: 16px;
top: 16px;

background: rgba(255, 255, 255, 0.03);
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 36px;
height: 36px;

background: #2C2C2E;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 12px;

background: rgba(255, 255, 255, 0.6);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Xcode_15.4.dmg */

width: 310.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Completed */

width: 310.8px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 43.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 96px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 79.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

position: absolute;
height: 62px;
left: 16px;
right: 16px;
top: 85.5px;

background: rgba(255, 255, 255, 0.03);
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 36px;
height: 36px;

background: #3A3A3C;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 12px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 317.98px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 317.98px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* figma-export.zip */

width: 317.98px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 317.98px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Verified */

width: 317.98px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 36.02px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 36.02px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 96px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 79.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

position: absolute;
height: 62px;
left: 16px;
right: 16px;
top: 155px;

background: rgba(255, 255, 255, 0.03);
border-radius: 12px;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 36px;
height: 36px;

background: rgba(0, 122, 255, 0.2);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 13.5px;
height: 13.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 13.5px;
height: 13.5px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* screenshot-2026.png */

width: 310.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Saved */

width: 310.8px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 43.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 96px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 64.81px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

position: absolute;
height: 62px;
left: 16px;
right: 16px;
top: 224.5px;

background: rgba(255, 255, 255, 0.03);
border-radius: 12px;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 36px;
height: 36px;

background: rgba(255, 69, 58, 0.2);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #FF453A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* WWDC26_session_notes.pdf */

width: 310.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Downloaded */

width: 310.8px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 43.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 96px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 21.61px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 5 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

position: absolute;
height: 62px;
left: 16px;
right: 16px;
top: 294px;

background: rgba(255, 255, 255, 0.03);
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 36px;
height: 36px;

background: #3A3A3C;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 13.5px;
height: 13.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 13.5px;
height: 13.5px;

background: rgba(255, 255, 255, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* node_modules_backup.zip */

width: 310.8px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.85);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310.8px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Indexed */

width: 310.8px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 43.2px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 43.2px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 96px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 21.61px;
height: 18px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - NavigationDrawer (Sidebar) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 16px 0px;
gap: 16px;

width: 40px;
height: 306px;

border-left: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px;

width: 24px;
height: 24px;

background: rgba(255, 255, 255, 0.1);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 12px;
height: 12px;

background: #0A84FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px;

width: 27px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 15px;
height: 12px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px;

width: 28.5px;
height: 23.92px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 16.5px;
height: 11.93px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 106px 0px 0px;

width: 27.08px;
height: 154.07px;
min-height: 30px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px;

width: 27.08px;
height: 27px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15.07px;
height: 15px;

background: rgba(255, 255, 255, 0.35);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
gap: 378.94px;

width: 618px;
height: 28px;

border-top: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 157px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle */

width: 6px;
height: 6px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 143px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 143px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 50.06px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 50.06px;
height: 17px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.55px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.35);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtle Glow for visual soul */

position: absolute;
width: 128px;
height: 128px;
left: 1px;
top: 1px;

background: #0A84FF;
opacity: 0.03;
filter: blur(30px);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;
